@keyframes chosen {
    100% {
        transform: scale(1.4);
    }
}

@keyframes cardMove0 {
    100% {
        transform: translate(300px, 0px) scale(1.7);
    }
}

@keyframes cardMove1 {
    100% {
        transform: translate(120px, 0px) scale(1.7);
    }
}

@keyframes cardMove2 {
    100% {
        transform: translate(-60px, 0px) scale(1.7);
    }
}

@keyframes cardMove3 {
    100% {
        transform: translate(-240px, 0px) scale(1.7);
    }
}

@keyframes cardMove4 {
    100% {
        transform: translate(300px, -300px) scale(1.7);
    }
}

@keyframes cardMove5 {
    100% {
        transform: translate(120px, -300px) scale(1.7);
    }
}

@keyframes cardMove6 {
    100% {
        transform: translate(-60px, -300px) scale(1.7);
    }
}

@keyframes cardMove7 {
    100% {
        transform: translate(-240px, -300px) scale(1.7);
    }
}

@keyframes hideCard0 {
    0% {
        transform: translate(300px, 0px) scale(1.7);
    }
}

@keyframes hideCard1 {
    0% {
        transform: translate(120px, 0px) scale(1.7);
    }
}

@keyframes hideCard2 {
    0% {
        transform: translate(-60px, 0px) scale(1.7);
    }
}

@keyframes hideCard3 {
    0% {
        transform: translate(-240px, 0px) scale(1.7);
    }
}

@keyframes hideCard4 {
    0% {
        transform: translate(300px, -300px) scale(1.7);
    }
}

@keyframes hideCard5 {
    0% {
        transform: translate(120px, -300px) scale(1.7);
    }
}

@keyframes hideCard6 {
    0% {
        transform: translate(-60px, -300px) scale(1.7);
    }
}

@keyframes hideCard7 {
    0% {
        transform: translate(-240px, -300px) scale(1.7);
    }
}

@keyframes deckMove {
    5% {
        transform: scale(1.12);
    }
    100% {
        top: -45px;
        transform: scale(1.12);
    }

}

body {
    font-family: Arial;
    padding: 0;
    margin: 0;
    user-select: none;
}

a:hover {
    text-decoration: none;
    color: #2aabd2;
}

a {
    color: black;
}

br {
    font-size: 0px;
}

li {
    list-style: none;
}

.bigimgDiv {
    position: absolute;
}

.bigimg {
    position: relative;
    width: 340px;
    z-index: 999;
    top: 50px;
    left: 40vw;
}

.bigimgDiv div {
    position: relative;
    z-index: 999;
    top: 50px;
    left: 20vw;
    font-size: 30px;
    cursor: pointer;
}

.main {
    display: none;
    margin: 0 auto;
    width: 1000px;
    height: 800px;
    font-size: 0;
    z-index: 0;
}

.shadow {
    -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
    filter: blur(5px);
}

.mask {
    position: absolute;
    width: 100%;
    height: 800px;
    z-index: 3;
}

.all_cards {
    display: inline-block;
    width: 80%;
    height: 100%;
}

.career {
    width: 100%;
    height: 30px;
    padding: 0;
    margin: 20px 0 0 0;
    background-color: pink;
}

.career li {
    display: inline-block;
    height: 30px;
    width: 35px;
    margin-top: 4px;
    margin-left: 14px;
    border: #cea65a solid 5px;
    border-bottom: 0;
    border-radius: 30%;
    overflow: hidden;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.career li:hover {
    filter: brightness(110%);
}

.chosen {
    animation-name: chosen;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.career li img {
    position: relative;
    width: 45px;
    top: -10px;
    left: -11px;
}

.cardpool {
    position: relative;
    width: 100%;
    height: 700px;
    background: url("../img/backgrouond.jpg");
    background-size: cover;
}

.profession {
    font-size: 30px;
    position: absolute;
    left: 10px;
    top: 28px;
    width: 100%;
    text-align: center;
}

.cards {
    font-size: 0;
    width: 90%;
    margin: 0 auto;
    padding: 90px 0px;
}

.card {
    position: relative;
    display: inline-block;
    width: 25%;
}

.card img {
    width: 200px;
    cursor: pointer;
}

.card img:hover {
    filter: drop-shadow(0px -0px 20px white);
}

.card .absimg {
    position: absolute;
    top: 0px;
    left: 0px;
}

.cardMove0 {
    animation: cardMove0 0.3s forwards;
    z-index: 2;
}

.cardMove1 {
    animation: cardMove1 0.3s forwards;
    z-index: 2;
}

.cardMove2 {
    animation: cardMove2 0.3s forwards;
    z-index: 2;
}

.cardMove3 {
    animation: cardMove3 0.3s forwards;
    z-index: 2;
}

.cardMove4 {
    animation: cardMove4 0.3s forwards;
    z-index: 2;
}

.cardMove5 {
    animation: cardMove5 0.3s forwards;
    z-index: 2;
}

.cardMove6 {
    animation: cardMove6 0.3s forwards;
    z-index: 2;
}

.cardMove7 {
    animation: cardMove7 0.3s forwards;
    z-index: 2;
}

.hideCard0 {
    animation: hideCard0 0.3s forwards;
    z-index: 1;
}

.hideCard1 {
    animation: hideCard1 0.3s forwards;
    z-index: 1;
}

.hideCard2 {
    animation: hideCard2 0.3s forwards;
    z-index: 1;
}

.hideCard3 {
    animation: hideCard3 0.3s forwards;
    z-index: 1;
}

.hideCard4 {
    animation: hideCard4 0.3s forwards;
    z-index: 1;
}

.hideCard5 {
    animation: hideCard5 0.3s forwards;
    z-index: 1;
}

.hideCard6 {
    animation: hideCard6 0.3s forwards;
    z-index: 1;
}

.hideCard7 {
    animation: hideCard7 0.3s forwards;
    z-index: 1;
}

.page {
    font-size: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 671px;
    left: 9px;
    color: #8b7c57;
}

.search {
    margin-left: 50px;
    margin-top: -70px;
}

.hexagon {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 34.6px;
    background-color: #4d97fe;
    font-size: 25px;
    margin-left: 30px;
    color: #ffffff;
    text-shadow: 1px 1px black;
}

.hexagon::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    right: 20px;
    border-width: 17.3px 10.3px;
    border-style: solid;
    border-color: transparent #4d97fe transparent transparent;
}

.hexagon::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 20px;
    border-width: 17.3px 10.3px;
    z-index: -1;
    border-style: solid;
    border-color: transparent transparent transparent #4d97fe;
    top: 0;
}

.search div {
    transition: all 0.3s;
    cursor: pointer;
}

.search div:hover {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.opacity {
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.my_deck {
    float: right;
    width: 20%;
    height: 97%;
    background-color: #2c2339;
    font-size: 12px;
    margin-top: 20px;
    border-radius: 10px;
}

.my_deck_title {
    font-size: 20px;
    text-align: center;
    background-color: #cebc94;
    margin: 10px 40px;
}

.my_deck_content {
    background-color: #2e6da4;
    padding-top: 1px;
    width: 100%;
    height: 88%;
}

.my_deck_name {
    position: relative;
    width: 90%;
    height: 80px;
    margin: 10px auto;
    background-size: 350px;
    background-position: -80px -90px;
    border: #f6d577 solid 10px;
    border-radius: 3px;
    cursor: pointer;
}

.my_deck_name:hover {
    filter: drop-shadow(0px 0px 10px white);
}

.my_deck_words {
    position: absolute;
    top: 33px;
    left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
}

.delete_deck {
    position: absolute;
    top: -5px;
    left: 145px;
    font-size: 20px;
    z-index: 1;
    color: transparent;
}

.delete_deck:hover {
    color: white;
}

.deckMove {
    animation: deckMove 200ms forwards linear;
}

.my_deck_list {
    position: relative;
    display: inline-block;
    width: 30%;
    top: 4px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px black;
    transform-style: preserve-3d;
}

.my_deck_list_show {
    transform: rotateX(-90deg);
    transition: all 0.5s;
}

.my_deck_list_hide {
    transform: rotateX(0deg);
    transition: all 0.5s;
}

.my_deck_list :first-child {
    position: absolute;
    background-color: purple;
    width: 100%;
    height: 34px;
    padding: 0px 10px;
    text-align: center;
    top: -18px;
    left: 17px;
    transform: rotateX(90deg) translateZ(17px);
}

.my_deck_list :last-child {
    position: absolute;
    background-color: purple;
    width: 100%;
    height: 34px;
    padding: 0px 10px;
    text-align: center;
    top: -18px;
    left: 17px;
    transform: translateZ(17px);
}

.my_deck_buttonDiv {
    position: relative;
    display: inline-block;
    width: 40%;
    top: 8px;
    left: 40px;
}

.my_deck_button {
    width: 100%;
    height: 30px;
    border-radius: 20%;
    background-color: #f6d577;
}